.section-popular .pretty-font {
    color: #ffab91;
}

.nav-wrapper img {
    height: 50px;
    width: 50px;
}

.section-follow a {
    margin: 5px 10px;
}

.section-gallery span {
    color: #ffab91;
}

.section-contact span {
    color: #ffab91;
}